.filter-blur {
  filter: blur(5px) contrast(250%);
  transition: filter 1s ease;
}

.filter-brightness {
  filter: brightness(0.4);
  transition: filter 1s ease;
}

.filter-grayscale {
  filter: grayscale(100%);
  transition: filter 1s ease;
}

.filter-rotate {
  filter: hue-rotate(90deg);
  transition: filter 1s ease;
}

.filter-contrast {
  filter: contrast(200%);
  transition: filter 1s ease;
}

.filter-invert {
  filter: invert(75%);
  transition: filter 1s ease;
}

.filter-mix {
  filter: contrast(175%) brightness(30%) saturate(70%);
  transition: filter 1s ease;
}

.filter-sepia {
  filter: sepia(80%);
  transition: filter 1s ease;
}

.picture_image:hover {
  filter: none;
  transition: filter 1s ease;
}


