.image-1 {
  filter: blur(5px) contrast(250%);
  transition: filter 1s ease;
}

.image-2 {
  filter: brightness(0.4);
  transition: filter 1s ease;
}

.image-3 {
  filter: grayscale(100%);
  transition: filter 1s ease;
}

.image-4 {
  filter: hue-rotate(90deg);
  transition: filter 1s ease;
}

.image-5 {
  filter: contrast(200%);
  transition: filter 1s ease;
}

.image-6 {
  filter: invert(75%);
  transition: filter 1s ease;
}

.image-7 {
  filter: contrast(175%) brightness(30%) saturate(70%);
  transition: filter 1s ease;
}

.image-8 {
  filter: sepia(80%);
  transition: filter 1s ease;
}

.picture_image:hover {
  filter: none;
  transition: filter 1s ease;
}

