/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --repeat-grad: #d3d3d3;
  --linear-grad-one: #e7e7e7;
  --linear-grad-two: #1a1a1a;
  --bg-items:#ffffff;
  --button-text-color: #ffffff;
  --bg-color-dialog: rgb(0 0 0 / .75);
  --text-color: #000000;
  --font-accent: 'Press Start 2P';
  --font-global: 'Inter-Variable';
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --fill-contour: #000000;
  --fill-sparks: red;
  --fill-path-hover: #000000;
  --fill-path-active: red;
  --fill-icon-save: #ffffff;
}

